main{
  margin: 0;
  background-color: aliceblue;
}

.buah-container {
  padding: 20px;
  text-align: center;
}

.buah-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.buah-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #FFF8DC;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.buah-gambar {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px #006400;
  z-index: 100;
  top: 0;
  position: sticky;
}

.header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 15px 0;
}